src/main/resources/META-INF/wsdl/sample-service.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Licensed to the Apache Software Foundation (ASF) under one or more contributor license agreements. See the NOTICE file 
  distributed with this work for additional information regarding copyright ownership. The ASF licenses this file to You under 
  the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may 
  obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 Unless required by applicable law or agreed to 
  in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF 
  ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under 
  the License. -->

<wsdl:definitions 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:tns="http://apimanager.bashburn.redhat.com"
  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  targetNamespace="http://apimanager.bashburn.redhat.com">

  <!-- Type definitions for input- and output parameters for webservice -->
  <wsdl:types>
    <xs:schema targetNamespace="http://apimanager.bashburn.redhat.com">
      <xs:element name="inputApiRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:string" name="apiKey" />
            <xs:element type="xs:string" name="applicationName" />
            <xs:element type="xs:string" name="applicationOwnerId" />
            <xs:element name="requestProperties" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element type="xs:string" name="key"/>
                  <xs:element type="xs:string" name="value"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="outputApiRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:string" name="result" />
            <xs:element type="xs:string" name="value" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>

  <!-- Message definitions for input and output -->
  <wsdl:message name="inputApiRequest">
    <wsdl:part name="in" element="tns:inputApiRequest" />
  </wsdl:message>
  <wsdl:message name="outputApiRequest">
    <wsdl:part name="out" element="tns:outputApiRequest" />
  </wsdl:message>

  <!-- Port (interface) definitions -->
  <wsdl:portType name="ApiRequestEndpoint">
    <wsdl:operation name="ApiRequest">
      <wsdl:input message="tns:inputApiRequest" />
      <wsdl:output message="tns:outputApiRequest" />
    </wsdl:operation>
  </wsdl:portType>

  <!-- Port bindings to transports and encoding - HTTP, document literal encoding is used -->
  <wsdl:binding name="ApiRequestBinding" type="tns:ApiRequestEndpoint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ApiRequest">
      <soap:operation soapAction="http://apimanager.bashburn.redhat.com/ApiRequest" style="document" />
      <wsdl:input>
        <soap:body parts="in" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="out" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <!-- Service definition -->
  <wsdl:service name="ApiRequestEndpointService">
    <wsdl:port name="ApiRequestEndpoint" binding="tns:ApiRequestBinding">
      <soap:address location="http://localhost:8181/cxf/apisvc-fuse-poc-osgi/webservices/apirequest" />
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>